<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526181168634-dttsc28uf92notabs75mhmm5rpoo44pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526181168634-dttsc28uf92notabs75mhmm5rpoo44pi</string>
	<key>API_KEY</key>
	<string>AIzaSyA21nvLIkFTY0Pn9DVLlGI8ZBjgG3a8uqU</string>
	<key>GCM_SENDER_ID</key>
	<string>526181168634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kerimcivelek.SwiftUITwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-cc3eb</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-cc3eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526181168634:ios:581ddc980c006a81aae043</string>
</dict>
</plist>